.corporate-video {
  background-color: #ffffff;
}

.video-wrapper {
  max-width: 900px;
  margin: auto;
  position: relative;
  padding-top: 56.25%; /* 16:9 aspect ratio */
}

.video-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
}
