/* .hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  position: relative;
} */

.hero {
  height: 90vh;
  background: linear-gradient(
    to right,
    #ffffff,
    #f5f5f5,
    #eaeaea
  );
  position: relative;
}


.hero-overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 0.6),
    rgba(255, 255, 255, 0.1)
  );
  display: flex;
  align-items: center;
}

.hero-content {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

.hero-content h1 {
  font-size: 48px;
  font-weight: 700;
  color: #8b1d1d;
  line-height: 1.2;
  margin-bottom: 30px;
}

.hero-buttons {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 12px 26px;
  font-size: 15px;
  font-weight: 600;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.btn.outline {
  border: 2px solid #8b1d1d;
  color: #8b1d1d;
  background: transparent;
}

.btn.outline:hover {
  background-color: #8b1d1d;
  color: #ffffff;
}

.btn.solid {
  background-color: #f57c00;
  color: #ffffff;
}

.btn.solid:hover {
  background-color: #d96b00;
}
