/* HERO */
/* .contact-hero {
  height: 320px;
  background: linear-gradient(
      rgba(0, 0, 0, 0.35),
      rgba(0, 0, 0, 0.35)
    ),
    url("/assets/images/contact-banner.jpg") center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
} */
 .contact-hero {
  height: 320px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}


.contact-hero h1 {
  color: #fff;
  font-size: 56px;
  font-weight: 600;
}

/* GET IN TOUCH */
.contact-info {
  padding: 80px 8%;
  background: #fff;
}

.section-tag {
  color: #f58220;
  font-weight: 600;
  font-size: 14px;
}

.contact-info h2 {
  color: #8b1c13;
  margin: 10px 0 50px;
  font-size: 32px;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.info-box h4 {
  margin: 20px 0 10px;
  color: #8b1c13;
}

.info-box p {
  line-height: 1.8;
  color: #333;
}

/* FORM SECTION */
.contact-form-section {
  background: #fdebdc;
  padding: 80px 8%;
  display: flex;
  gap: 60px;
}

.form-left {
  flex: 1;
}

.form-left h2 {
  color: #8b1c13;
  margin-bottom: 40px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form-row {
  display: flex;
  gap: 30px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  border: none;
  border-bottom: 1px solid #d9a18c;
  background: transparent;
  padding: 10px 0;
  outline: none;
  font-size: 15px;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  width: 200px;
  background: #8b1c13;
  color: #fff;
  border: none;
  padding: 14px;
  cursor: pointer;
  font-size: 15px;
}

/* IMAGE */
.form-right {
  flex: 1;
  position: relative;
}

.form-right img {
  width: 100%;
  border-bottom-right-radius: 80px;
}

/* RESPONSIVE */
@media (max-width: 992px) {
  .info-grid {
    grid-template-columns: 1fr;
  }

  .contact-form-section {
    flex-direction: column;
  }

  .form-row {
    flex-direction: column;
  }
}
